{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Adicionar Saldo</title>
  <link rel="stylesheet" href="{% static 'adicionar_saldo.css' %}">
</head>
<body class="body">

  <div class="container">
    <main class="main-container">
      <a href="{% url 'menu' %}">
        <img class="img-seta" src="{% static 'images/seta.png' %}" alt="Logo img_cantinho_cesar">
      </a>
      <div class="container-inputs container-inputs-adicionar-saldo">

        <h1 class="barra">Adicionar Saldo</h1>

        <p class="saldo-atual">Seu Saldo Atual: R$ {{ request.user.userprofile.saldo|default:"0.00" }}</p>
        <form method="post" action="{% url 'adicionar_saldo' %}">
          {% csrf_token %}

          <label>Valores para Adicionar:</label>
          <div class="opcoes-valores">
            <input type="radio" name="valor_adicional" value="5"> R$ 5,00
            <input type="radio" name="valor_adicional" value="10"> R$ 10,00
            <input type="radio" name="valor_adicional" value="15"> R$ 15,00
          </div>

          <label for="metodo_pagamento">Método de Pagamento:</label>
          <select name="metodo_pagamento" id="metodo_pagamento" required>
            <option value="pix">Pix</option>
          </select>
          <button type="submit" class="remover">Adicionar Saldo</button>
        </form>
        {% if saldo_adicionado %}
          <p class="feedback sucesso">Saldo de R$ {{ saldo_adicionado }} adicionado com sucesso!</p>
        {% endif %}

        {% if valor_invalido %}
          <p class="feedback erro">O valor a ser adicionado deve ser maior que zero.</p>
        {% endif %}

      </div>
    </main>
  </div>

</body>
</html>
