<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
</head>
<div>
    <main class="main-container">
        <form method="post" action="{% url 'cadastrar_usuario' %}">
            {% csrf_token %}
            <div class="container-inputs">
                <label class="label">Nome</label>
                <br>
                <input class="input" type="text" name="nome-usuario" required>
                <br>
                <br>
                <label class="label">E-mail</label>
                <br>
                <input class="input" type="email" name="email" id="email" required>
                <br>
                <br>
                <label class="label">Senha</label>
                <br>
                <input class="input" type="password" name="senha" required>
                <br>
                <br>
                <br>
                <input type="submit" value="Cadastrar" class="submit">
                <br>
                <div class="text-center">
                    <p>Deseja fazer login? <a href="{% url 'index' %}" class="login-link">Login</a></p>
                </div>
            </div>
    </main>
</div>

</form>