{% block content %}
  <h1>Avaliar Pedido</h1>
  
  <form method="post" action="{% url 'avaliacoes' %}">
    {% csrf_token %}
    
    <label for="produto">Selecione o Produto:</label>
    <select name="produto" id="produto" required>
        {% for produto in produtos %}
            <option value="{{ produto.id }}">{{ produto.name }}</option>
        {% endfor %}
    </select>

    <input type="hidden" name="pedido_id" value="{{ pedido.id }}">

    <label for="comment">Comentário:</label>
    <textarea name="comment" id="comment" rows="4" required></textarea>

    <input class="salvar" type="submit" name="salvar_avaliacao" value="Salvar Avaliação">
  </form>

{% endblock %}
