{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'retirada.css' %}">
</head>

<body>
    <a href="{% url 'menu' %}">
        <img class="img-seta" src="{% static 'images/seta.png' %}" alt="seta">
    </a>
    <main class="main-container">
        <div class="container-inputs">
            <h1>Seu pedido foi registrado. </h1>
            <br>
            <h1 name="sucesso-retirada">O pagamento deve ser efetuado na retirada.</h1>
        </div>
    </main>
</body>

</html>