{% for product in products %}
    <div class="card me-4 ms-4 mb-4" style="width: 18rem;">
        <img src="{{ product.link }}" class="card-img" alt="Imagem ilustrativa do Produto">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h5 class="card-title">R${{ product.value }}</h5>
            {% if not product.disponivel %}
                (Produto Indisponível)
            {% else %}
                <a href="{% url 'carrinho' product.id %}" class="btn btn-primary add-to-cart">Adicionar ao carrinho</a>
                <form method="POST" action="{% url 'adicionar-aos-favoritos' product.id %}">
                    <br>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Favoritar</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endfor %}