body {
    margin: 0;
    padding: 0;
    height: 90vh;
    background-image: linear-gradient(45deg, #FFA500, #FF4500);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container-inputs {
    margin: 10px auto;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.barra {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px 0 0 0;
    z-index: 999;
}

img {
    max-width: 80px !important;
    max-height: 80px !important;
    position: fixed;
    top: 10px;
    left: 10px;
}