{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'app_cantinho.css' %}">
</head>

<body>
  <div class="container">
    <main class="main-container">
      <form method="post" action="{% url 'entrar' %}">
        {% csrf_token %}

        <div class="container-inputs">

          <img class="img" src="{% static 'images/img_cantinho_cesar.png' %}" alt="Logo img_cantinho_cesar">
          <br>
          <label class="label_email" for="email">E-mail</label>
          <br>
          <input id="email" type="email" name="email" required>
          <br>
          <br>
          <label class="label_senha" for="senha">Senha</label>
          <br>
          <input id="senha" type="password" name="senha" required>
          <br>
          <br>
          <br>
          <button type="submit" class="submit" value= 'Entrar'>
            Entrar
          </button>
          <br>
          <div class="text-center">
            <br>
            <span>É novo por aqui? </span>
            <a href="{% url 'cadastrar' %}" name="botao_cadastrar">Cadastre-se</a>
          </div>
        </div>

      </form>

      <div class="text-center">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
    </main>
  </div>
</body>

</html>