<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
</head>
<body>
    <h1>Resumo da Compra</h1>
    
    <h2>Produtos:</h2>
    <ul>
        {% for item in carrinho.products.all %}
            <li>{{ item.name }} - {{ item.quantidade }}</li>
        {% endfor %}
    </ul>

    <h2>Total: R$ {{ carrinho.total }}</h2>

    <h2>Detalhes da Entrega:</h2>
    <p>Horário de Retirada: {{ carrinho.hora_retirada }}</p>

    <h2>Pagamento:</h2>
    <p>Status do Pagamento: {{ pedido.status_pagamento }}</p>

    <p>Obrigado por sua compra!</p>
</body>
</html>
