{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Resumo da Compra</title>
    <link rel="stylesheet" href="{% static 'resumo.css' %}">
</head>

<body>
    <main class="main-container">
        <a href="{% url 'menu' %}">
            <img src="{% static 'images/seta.png' %}" alt="seta">
        </a>
        <div class="container-inputs">
            <h1 class="barra">Resumo da compra</h1>

            <h2>Produtos Comprados:</h2>
            <ul>
                {% for produtos in produto %}
                <li>{{ produto.name }} - R$ {{ produto.value }}</li>
                {% endfor %}
            </ul>

            <h4 class="total">Total: R$ {{ total }}</h4>

            <h3>Horário de Retirada: {{ hora_retirada }}</h3>

            <h3>Status de Pagamento: {{ status_pagamento }}</h3>
        </div>
    </main>
</body>

</html>

</html>