{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Histórico de Compras</title>
    <link rel="stylesheet" href="{% static 'resumo.css' %}">
</head>

<body>
    <main class="main-container">
        <a href="{% url 'menu' %}">
            <img src="{% static 'images/seta.png' %}" alt="seta">
        </a>
        <h1 class="barra">Histórico de Compras</h1>

        {% for pedido_info in lista_pedidos %}
        <div class="container-inputs">
            <h2>Produtos Comprados:</h2>
            <ul>
                {% for produto in pedido_info.produtos %}
                    <li>{{ produto.name }} - R$ {{ produto.value }}</li>
                        <a href="{% url 'avaliar_pedido' pedido_id=pedido_info.pedido.id produto_id=produto.id%}">Avaliar o produto</a>
                {% endfor %}
            </ul>


            <h4 class="total">Total: R$ {{ pedido_info.total }}</h4>

            <h3>Horário de Retirada: {{ pedido_info.hora_retirada }}</h3>

            <h3>Status de Pagamento: {{ pedido_info.status_pagamento }}</h3>
        </div>
        {% endfor %}

    </main>
</body>

</html>
