<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meus Favoritos</title>
</head>
<body>
    <h1>Meus Produtos Favoritados</h1>
    
    <ul>
        {% for favorito in favoritos %}
            <li>
                {{ favorito.product.name }} - R$ {{ favorito.product.value }}
                <form method="POST" action="{% url 'remover-dos-favoritos' favorito.product.id %}">
                    {% csrf_token %}
                    <button type="submit">Remover dos Favoritos</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
